{% extends 'base.html.twig' %}

{% block title %} Editer un comment {% endblock %}

{% block body %}

    <h1>Editer un comment </h1>

    {{ form_start(form) }}

    {{ include('comment/_form.html.twig') }}
    <button class="btn btn-primary">
        Editer
    </button>
    {{ form_end(form) }}
{% endblock %}
